@page
@model WebApplication2.Pages.OsszesitoModel

<h2>Összesítő – barlangok száma településenként</h2>

<table class="table">
    <thead>
        <tr>
            <th>Település</th>
            <th>Barlangok száma</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Osszesites)
        {
            <tr>
                <td>@item.Telepules</td>
                <td>@item.BarlangSzam</td>
            </tr>
        }
    </tbody>
</table>
